/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: $background-color;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h1 {
  font-size: 50px;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: 25px;
}

.banner {
  background-image: asset-url('drinks.png');
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.banner .logo {
  width: 400px;
  position: absolute;
  bottom: 0px;
  left: calc(50vw - 200px);
}

.container-g {
  position: absolute;
  top: 25vh;
  left: 5vw;
  color: white;
}

.container-g p {
  margin-bottom: 50px;
}

.btn-g {
  margin: 0 auto;
  border: solid;
  border-width: 1px;
  border-color: $ginger;
  background-color: $ginger;
  opacity: 1;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
}

.btn-g:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05)
}

.choose h2{
  color: white;
  margin-left: 10vw;
  margin-top: 20px;
}

.cards {
  color: $ginger;
  font-size: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;

}
.card {
  width: 300px;
  background-color: #2F2E2B;
  border-color: #2F2E2B;
}

.card .cash {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.card .calendar {
  width: 200px;
  margin: 0 auto;
}

.card .champaign {
  width: 200px;
  margin: 0 auto;

}

.images {
  width: 200px;
  margin: auto;
  margin-bottom: 50pX;

}

.card p {
  color: #E1DCD5;
  font-size: 15px;
  text-align: center;

}

.form-boxes {
  margin-right: 0px;
}
