// footer style

.footer {
  width: 100%;
  height: $footerHeight;
  color: white;
  text-align: center;
  background: #2F2E2B;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-links a {
  color: $ginger;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #E1DCD5;
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


