.admin {
  width: 90vw;
  margin: 0 auto;
  color: white;
  margin-top: 12vh;


  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .headers {
    height: 70px;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 10px 10px;
    margin-bottom: 5px;
    z-index: 5;
    text-align: center;
    position: sticky;
    top: 0;
  }
}

.experience-card {
  background-color: darkgrey;
  margin-bottom: 3px;
  padding: 10px 10px;
  border-radius: 3px;

  .experience-info-location {
    height: 100%;
    text-align: center;
  }

  .experience-info-datetime{
    height: 100%;
    text-align: center;
  }
  .experience-prepared {
    color: $experienceStatusOK;
  }

  .activities {
    text-align: center;
  }

  .experience-unprepared {
    color: $experienceStatusNOK;
  }

  .experience-paid {
    color: $experienceStatusOK;
  }

  .experience-unpaid {
    color: $experienceStatusNOK;
  }
}
