<%= simple_form_for [@experience, @experience_slice] do |f| %>
  <div class="mb-3">
    <div class="rank-wrapper">
      <label for="activity-1-id">Selectionnez la premiere activité</label>
      <div class="experience-slice-holder dropzone" name="rank-1" dropzone="move" ></div>
      <input class="selected-activities" type="hidden" id="rank-1" name="activity-1-id" value="">
    </div>
    <div class="rank-wrapper">
      <label for="activity-2-id">Selectionnez la deuxieme activité</label>
      <div class="experience-slice-holder dropzone" name="rank-2" dropzone="move" ></div>
      <input class="selected-activities" type="hidden" id="rank-1" name="activity-2-id" value="">
    </div>
    <div class="rank-wrapper">
      <label for="activity-2-id">Selectionnez la troisieme activité</label>
      <div class="experience-slice-holder dropzone" name="rank-3" dropzone="move" ></div>
      <input class="selected-activities" type="hidden" id="rank-1" name="activity-3-id" value="">
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary", value: "Finaliser l'experience" %>
<% end %>
