<div class="surprise-banner">
  <div class="container-s preferences">
    <h2 class="mb-5">Sortirez vous de votre zone de confort?</h2>
    <p class="mb-5" id="preference-message">Indiana Jones: Ginger choisit pour vous pour une surprise totale.</p>

    <%= simple_form_for [@experience, @experience_preferences_category], remote: true, url: experience_preferences_form_path, method: :post, html: { class: 'slider-form' } do |f| %>
      <%=  f.input :experience, as: :hidden, input_html: { value: @experience.id } %>
      <div class="slidecontainer d-flex align-items-center justify-content-center">
        <span class="mr-3 namerange">Bridget Jones</span>
        <input type="range" min="1" max="2" value="2" class="slider" id="exp-preferences" name="slider">
        <span class="ml-3 namerange">Indiana Jones</span>
      </div>
    <% end %>
    <div class="preferences-form" id="preferences-form">
      <%= render "shared/experience_preferences_categories_form", experience: @experience, experience_preferences_category: @experience_preferences_category, collection: [] %>
    </div>
  </div>
</div>

