<div class="user-index">
  <h2>Mes Experiences</h2>
    <div class="user-headers row align-middle">
      <div class="col-lg-1 d-flex align-items-center justify-content-around">Ville</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-around">Budget</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-around">Date</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-around">Heure</div>
      <div class="col-lg-6 d-flex align-items-center justify-content-around">Activités</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-around status-paid">Payé ?</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-around status-prepared">Prep ?</div>
    </div>
  <% @experiences.each do |experience| %>
    <div class="row user-experience-card">
      <div class="experience-info-location d-flex align-items-center justify-content-around col-lg-1"><%= experience.city %></div>
      <div class="experience-info-budget d-flex align-items-center justify-content-around col-lg-1"><%= "#{experience.budget_cents} CHF" %></div>
      <div class="experience-info-date d-flex align-items-center justify-content-around col-lg-1"><%= experience.date.strftime("%d/%m/%Y") %></div>
      <div class="experience-info-time d-flex align-items-center justify-content-around col-lg-1">
        <% if experience.time_slot == "en soirée" %>
          <div><span class="fas fa-moon fa-lg"></span></div>
        <% else %>
          <div><span class="fas fa-sun fa-lg"></span></div>
        <% end %>
      </div>
      <div class="experience-info-activites col-lg-6">
        <% if experience.date < Date.today %>
          <div class="row h-100">
            <% experience.experience_slices.each do |experience_slice| %>
              <div class="d-flex align-items-center justify-content-around text-center col-lg-4">
                <%= experience_slice.activity.name %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="surprise d-flex align-items-center justify-content-around h-100"><i class="fas fa-question"></i></div>
        <% end %>
      </div>
      <div class="experience-paid d-flex align-items-center justify-content-around col-lg-1">
        <% if experience.paid_at.nil? %>
          <span class="experience-unpaid"><i class="fas fa-money-bill-alt fa-2x mr-3"></i></span>
        <% else %>
          <span class="experience-paid"><i class="fas fa-money-bill-alt fa-2x mr-3"></i></span>
        <% end %>
      </div>
      <div class="experience-prepared d-flex align-items-center justify-content-around col-lg-1">
        <% if experience.prepared_at.nil? %>
          <span class="experience-unprepared"><i class="fas fa-2x fa-tasks"></i></span>
        <% else %>
          <span class="experience-prepared"><i class="fas fa-2x fa-tasks"></i></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
